
 .nav-tabs .nav-link {
    border: none;
}

.lds-dual-ring {
   display: inline-block;
   width: 80px;
   height: 80px;
   left: 48%;
   top: 40%;
   position: fixed;
 }
 .lds-dual-ring:after {
   content: " ";
   display: block;
   width: 64px;
   height: 64px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid #fff;
   border-color: #387635 transparent #387635 transparent;
   animation: lds-dual-ring 1.2s linear infinite;
 }
 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 #overlay {
   position: fixed; /* Sit on top of the page content */
   display: none; /* Hidden by default */
   width: 100%; /* Full width (cover the whole page) */
   height: 100%; /* Full height (cover the whole page) */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(169, 169, 169, 0.5); /* Black background with opacity */
   z-index: 1051; /* Specify a stack order in case you're using a different order for other elements */
 }

 #modalContainer {
   background-color: transparent;
   position:absolute;
   top:0;
   width:100%;
   /* height:100%; */
   left:0px;
   z-index:18000;
 }
 
 #alertBox {
   position:relative;
   width:25%;
   min-height:50px;
   max-height:200px;
   margin-top:50px;
   background-color:#656565;
   background-repeat:no-repeat;
   /* border-radius:90px; */
   top:70%;
   opacity: .7;
 }
 
 #modalContainer > #alertBox {
   position:fixed;
 }
 
 #alertBox h1 {
   margin:0;
   font:bold 1em Raleway,arial;
   background-color:#f97352;
   color:#FFF;
   border-bottom:1px solid #f97352;
   padding:10px 0 10px 5px;
 }
 
 #alertBox p {
   height:50px;
   padding-left:5px;
   padding-top:20px;
   text-align:center;
   vertical-align:middle;
   color: #fff;
 }
 
 #alertBox #closeBtn {
   display:block;
   position:relative;
   margin:10px auto 10px auto;
   padding:7px;
   border:0 none;
   width:70px;
   text-transform:uppercase;
   text-align:center;
   color:#FFF;
   background-color:#f97352;
   border-radius: 0px;
   text-decoration:none;
   outline:0!important;
 }
 
 /* unrelated styles */
 
 #mContainer {
   position:relative;
   width:600px;
   margin:auto;
   padding:5px;
   border-top:2px solid #fff;
   border-bottom:2px solid #fff;
 }
 
 h1,h2 {
   margin:0;
   padding:4px;
 }
 
 code {
   font-size:1.2em;
   color:#069;
 }
 
 #credits {
   position:relative;
   margin:25px auto 0px auto;
   width:350px; 
   font:0.7em verdana;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
   height:90px;
   padding-top:4px;
 }
 
 #credits img {
   float:left;
   margin:5px 10px 5px 0px;
   border:1px solid #000000;
   width:80px;
   height:79px;
 }
 
 .important {
   background-color:#F5FCC8;
   padding:2px;
 
 }
 
 @media (max-width: 600px) 
 {
   #alertBox {
   position:relative;
   width:90%;
   top:30%;
   left: 6% !important; 
 }

}

.ui-widget.ui-widget-content {
    width: 266px;
    border-color: #c5c5c5;
    list-style: none;
    z-index: 101;
}

#side-navigation li a.active {
    color: #fff;
    background: #387635;
}

.product-details h4 {
    word-break: break-all;   
}

a.trigger-order {
  color: #fff !important;
}

.working:before {
  animation: fa-spin 2s infinite linear;
  content: "\f072";
  content: "\f110";
  top: 30%;
}

 .form .textarea.error { border:1px solid #f00; } 

 .flavour-list li a img {
  width: 25px;
 }

 .no-items-cart {
  font-size: 15px !important;
  padding: 3px;
  font-weight: 500;
  text-align: left;
 }

 .link1 {
  color: #387635 !important;
  font-size: 18px !important;
 }

 .dashboard {
  padding: 164px 0px !important;
 }

 .dash-h2-ites-head {
   float: left;
 }
 
 .btn-green-custom {
  background: #387635;
  min-width: 169px;
  color: #fff !important;
  cursor: pointer;
 }

 .hide-map {
   display: none;
 }
 #checkout_image { background: url(../images/checkout-login-bg.jpg) no-repeat top left; background-size: auto; border-radius: 5px; } 
 #checkout_image_footer { background: url(../images/checkout-login-bg.jpg) no-repeat top left; background-size: auto; border-radius: 5px; }

 @media screen and (max-width: 767px){
  .table2 .product-thumbnail { height: 160px !important; }
 }

/*  .dashboard #sidebars { height: 100%; background: #ececec; border-right: 1px solid #fff; } 
  .dashboard #sidebars .title { position: relative; display: none; margin-bottom: 20px; color: #fff; background: #387635; padding: 15px; text-transform: uppercase; font-weight: 900; } 
  .dashboard #sidebars .title:before { font-family: "FontAwesome"; color: #fff; font-size: 20px; position: absolute; right: 15px; top: 17px; content: "\f0c9"; } 
  .dashboard #sidebars .title.open:before { content: "\f00d"; } 
 
  @media (max-width:1200px){
  .dashboard #sidebars .title { display: block; } 
  .dashboard #sidebars { background: transparent; } 
  #side-navigations li.current { display: none; } 
  .dashboard #side-navigations { display: none; background: #fff; position: absolute; top: 55px; left: 0; width: 100%; z-index: 1000; border-left: 15px solid #fff; border-right: 16px solid #fff; } 
  }*/
.design-adjust{
    margin-top:-20px !important;
}
/* .form li { padding: 0 19px 10px; margin-bottom: 20px; width: 100%;overflow: hidden; }  */
/* .form li { padding: 0 19px 10px; margin-bottom: 20px; width: 100%; }  */


.billing-information .form li{ 
 overflow: hidden !important; 
} 
.form li { padding: 0 19px 10px ; margin-bottom: 20px ; width: 100%; overflow: visible;} 
  
.order-title {
  position: relative;
  top: 30px;
}

.dash-btn {
  background: transparent;
    color: green;
    border: none;
}

#descriptionTab {
  height: 144px;
}

.dashboard-nav {
  padding:0;
}

@media screen and (min-width: 1200px){
  .dash-btn { display: none; }
 }

 @media screen and (min-width:768px){
  #main-navigation .scrollable-content {
    float: right;
  }
}

.detail-product p {
  padding-left: 1.5em;
  text-indent: -1em;
}

.testimonials div.inner {
  padding: 17px;
}

#login .modal-content, #register .modal-content, #forgot_password_top_menu .modal-content {
  background-color: #377535;
}

.buttongroup {margin-top: 6% !important;font-size: 20px;}
.halfwidth { width: calc(50% - 20px); }

@media screen and (min-width:768px){
  .resp-screen-login {
    display: none !important;
  }
}

.fa-star {
    font-size: 50px !important;
    width: 20% !important;
    color: #28a745 !important;
}

.cancel_order_item {
  cursor: pointer;
}

@media screen and (max-width: 992px){
  #content .dashboard .form li {
    margin: 0 0px 35px; 
  }
}

@media screen and (max-width: 750px){
  #content .revieworder .form li { margin: 30px -2px 35px !important; }
}

.sweet-alert button.confirm {
    background: #387635 !important;
    min-width: 169px;
    color: #fff !important;
    cursor: pointer;
    border-radius: 0;
}

.sweet-alert button.cancel {
  min-width: 169px;
  color: #fff !important;
  cursor: pointer;
  border-radius: 0;
}
.video img{
    
    max-width: 800px;
}
.video span{
    
    display:none;
}


