/* ==========================================================================
Fonts Settings
========================================================================== */
@font-face { font-family: 'Brandon'; src: url('../fonts/Brandon_bld.eot'); src: url('../fonts/Brandon_bld.eot') format('embedded-opentype'), url('../fonts/Brandon_bld.woff2') format('woff2'), url('../fonts/Brandon_bld.woff') format('woff'), url('../fonts/Brandon_bld.ttf') format('truetype'), url('../fonts/Brandon_bld.svg#Brandon_bld') format('svg'); font-style: normal; font-weight: 700; } 
@font-face { font-family: 'Brandon'; src: url('../fonts/Brandon_reg.eot'); src: url('../fonts/Brandon_reg.eot') format('embedded-opentype'), url('../fonts/Brandon_reg.woff2') format('woff2'), url('../fonts/Brandon_reg.woff') format('woff'), url('../fonts/Brandon_reg.ttf') format('truetype'), url('../fonts/Brandon_reg.svg#Brandon_reg') format('svg'); font-style: normal; font-weight: 400; } 
/* ==========================================================================
Global Settings
========================================================================== */

/*
* Remove text-shadow in selection highlight.
*/
::-moz-selection { background: #b3d4fc; text-shadow: none; } 
::selection { background: #b3d4fc; text-shadow: none; } 

/*
* Body settings, change it as required
*/
body { font-size: 16px; line-height: 1.2; color: #3f4040; font-family: 'Brandon' , Arial, 'Helvetica Neue', Helvetica, sans-serif; text-rendering: optimizeLegibility; font-weight: 400; } 
h1, h2, h3, h4, h5, h6 , p { margin-top: 0px; } 

/*
* Links
*/
a, a:hover { text-decoration: none; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 

/*
* A better looking default horizontal rule
*/
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } 

/*
* Remove the gap between images and the bottom of their containers.
*/
img { vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; } 

/*
* Allow only vertical resizing of textareas.
*/
textarea { resize: none; } 

/*
* Other
*/
*:focus { outline: none !important; } 

/* ==========================================================================
Helper classes
========================================================================== */

img.alignleft { float: left; margin: 0 10px 10px 0; display: block; } 
img.alignright { float: right; margin: 0 0px 10px 10px; display: block; } 
img.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px; } 
.hidden { display: none !important; visibility: hidden; } 
.clear { clear: both; height: 1px; line-height: 1px; } 

/*
* Other
*/

/* ==========================================================================
Layout
========================================================================== */
/* .orders-status .container-fluid { padding-right: 65px; padding-left: 65px; }  */
.orders-status , .orders-status p { font-family: 'Brandon' !important; font-weight: 400; } 
.orders-status .col-lg-3 , .orders-status .col-lg-9 { padding-top: 0px; padding-bottom: 0px; } 
.orders-status .col-lg-1, .orders-status .col-lg-10,.orders-status .col-lg-11,.orders-status .col-lg-12,.orders-status .col-lg-2, 
.orders-status .col-lg-3,.orders-status .col-lg-4,.orders-status .col-lg-5,.orders-status .col-lg-6,.orders-status .col-lg-7,.orders-status .col-lg-8,.orders-status .col-lg-9,
.orders-status .col-md-1,.orders-status .col-md-10,.orders-status .col-md-11,.orders-status .col-md-12,.orders-status .col-md-2, 
.orders-status .col-md-3,.orders-status .col-md-4, .orders-status .col-md-5,.orders-status .col-md-6,.orders-status .col-md-7,.orders-status .col-md-8,.orders-status .col-md-9,
.orders-status .col-sm-1, .orders-status .col-sm-10,.orders-status .col-sm-11,.orders-status .col-sm-12,.orders-status .col-sm-2, 
.orders-status .col-sm-3,.orders-status .col-sm-4,.orders-status .col-sm-5,.orders-status .col-sm-6,.orders-status .col-sm-7, .orders-status .col-sm-8,.orders-status .col-sm-9, 
.orders-status .col-xs-1,.orders-status .col-xs-10,.orders-status .col-xs-11, .orders-status .col-xs-12,.orders-status .col-xs-2, .orders-status .col-xs-3, .orders-status .col-xs-4, .orders-status .col-xs-5, .orders-status .col-xs-6, .orders-status .col-xs-7, .orders-status .col-xs-8, .orders-status .col-xs-9 { padding-top: 0; padding-bottom: 0; } 

#header { box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.18); } 
#header .logo { background: #387635; padding: 30px 0 17px; width: 215px; min-height: 120px; } 
#header .container-fluid { padding-right: 65px; padding-left:45px; } 
#header .logo:after { position: absolute; content: ''; width: 495px; height: 100%; background: #387635; left: -205px; top: 0px; z-index: -1; transform: skewX(45deg); } 
#header .date-time { color: #000000; font-size: 22px; font-weight: 700; text-transform: uppercase; display: inline-block; margin-bottom: 0; vertical-align: middle; margin-right: 28px; } 

@media screen and (max-width:1200px){
 #header .container-fluid { padding-right: 15px; padding-left:15px; } 
 #header .action { position: absolute; top: 40px; right: 25px; } 
 #header .actions , #header .text-md-left + .col-xl-6 { position: static; } 
 }

 @media screen and (max-width:992px){
 #header .action { top: 4px; } 
 }

#dashboard-navigation ul { margin-bottom: 0; } 
#dashboard-navigation ul li { color: #000000; vertical-align: top; margin: 0 -2px; min-height: 120px; font-size: 15px; font-weight: 700; text-transform: uppercase; letter-spacing: -0.3px; width: 32%; display: inline-block; position: relative; } 
#dashboard-navigation ul li i { display: block; margin-bottom: 15px; } 
#dashboard-navigation ul li a { color: #000000; display: block; text-align: center; padding: 15px 0; } 
#dashboard-navigation ul li:hover , #dashboard-navigation ul li.active { background-color: #387635; } 
#dashboard-navigation ul li:hover:after , #dashboard-navigation ul li.active:after { content: ""; position: absolute; bottom: -14px; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-style: solid; border-width: 14px 13px 0 13px; border-color: #387635 transparent transparent transparent; } 
#dashboard-navigation ul li:hover a , #dashboard-navigation ul li.active a { color: #ffffff; } 

.action p { color: #6c6c6c; font-size: 17px; font-weight: 400; } 
.action p a { color: #387635; font-size: 18px; font-weight: 700; text-decoration: underline; } 

.alarm { color: #6c6c6c; font-size: 13px; font-weight: 700; letter-spacing: -0.56px; border-radius: 50%; width: 56px; height: 56px; background-color: #f1f1f1; display: inline-block; text-align: center; vertical-align: middle; padding: 6px 2px; } 
.alarm i { display: block; } 

.order-list + p { color: #6c6c6c; font-size: 17px; font-weight: 400; } 

@media screen and (max-width:1800px){
 #dashboard-navigation ul li a { padding: 15px 15px 15px 15px; } 
 #header .container-fluid { padding-right: 15px; } 
 }

 @media screen and (max-width:1200px){
 #dashboard-navigation { margin: 15px -15px 0; } 
 }

 @media screen and (max-width:1400px){
 #dashboard-navigation ul li a { padding: 15px 5px 15px 5px; } 
 #dashboard-navigation ul li { font-size: 14px; min-height: auto; } 
 #dashboard-navigation ul li i { margin-bottom: 0; } 
 #header .date-time { font-size: 16px; margin-right: 15px; } 
 }

 @media screen and (max-width:767px){
 #dashboard-navigation ul li span { display: none; } 
 #header .date-time { font-size: 16px; margin-right: 15px; } 
 #header .col-xl-3.text-md-left { padding-top: 15px; } 
 }

@media screen and (max-width:575px){
 #header .logo { padding: 5px 0; width: 165px; text-align: left; min-height: 60px; } 
 #header .logo img { max-width: 150px; } 
 #header .logo:after { width: 450px; } 
 #header .container-fluid { padding-right: 0px; padding-left: 0px; } 
 #header .action { right: 10px; width: 110px; text-align: right; } 
.action p { font-size: 14px; } 
 }

/* ==========================================================================
Common Functionalities & UI Elements
========================================================================== */
/*
* Typography
*/
h1 { font-size: 38px; margin-bottom: 16px; } 
h2 { font-size: 37px; margin-bottom: 16px; } 
h3 { font-size: 27px; margin-bottom: 16px; } 
h4 { font-size: 23px; margin-bottom: 16px; } 
h5 { font-size: 17px; margin-bottom: 16px; } 
h6 { font-size: 14px; margin-bottom: 16px; } 
p { line-height: 1.25; margin-bottom: 16px; } 
p.lead { font-size: 20px; line-height: 1.6; } 
/* Lists ---------------------- */
 ul, ol { margin-bottom: 16px; list-style-position: outside; } 
 ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; } 
 ol { margin-left: 20px; } 
 ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; } 


.order-list { display: flex; margin-left: 25px; margin-right: -13px; flex-wrap: wrap; margin-bottom: 30px; } 
.order-list > li { flex: 0 0 20%; max-width: 20%; padding-left: 13px; padding-right: 13px; margin-bottom: 30px; } 

@media screen and (max-width:1800px){
 .order-list > li { flex: 0 0 33.33%; max-width: 33.33%; } 
 }

@media screen and (max-width:991px){
 .order-list > li { flex: 0 0 50%; max-width: 50%; } 
 }

 @media screen and (max-width:600px){
 .order-list > li { flex: 0 0 100%; max-width: 100%; margin-bottom: 30px; } 
 }

.order-list .card { box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.24); padding: 0; border: 0; overflow: hidden; } 
.order-list .card-header { padding: 15px 12px; margin-bottom: 0; background-color: #61b4ff; border-bottom: none; } 
.order-list .card-header .duration { display: inline-block; min-width: 71px; text-align: center; background-color: #ffffff; color: #000000; font-size: 16px; font-weight: 400; padding: 6px 5px; border-radius: 4px; } 

.order-list .card-header h3 { color: #ffffff; font-size: 15px; font-weight: 700; line-height: 18px; margin-bottom: 0; } 
.order-list .card-header p { font-size: 16px; color: #ffffff; font-weight: 400; margin-bottom: 0; } 

.item-list { margin-left: 0; } 
.item-list li { color: #101010; font-size: 20px; font-weight: 700; line-height: 38px; letter-spacing: -0.4px; border-bottom: 1px solid #EFEFEF; padding: 8px 21px; } 
.order-list .card-footer { background-color: #f1f1f1; border-top: none; margin-bottom: 0; padding-top: 10px; padding-bottom: 9px; display: flex; align-items: center; justify-content: space-between; margin-top:0px; } 
.order-list .card-footer a { color: #000000; font-size: 16px; font-weight: 400; letter-spacing: -0.64px; } 

.order-list .card-footer .button { min-width: 68px; text-align: center; display: inline-block; background-color: #000000; color: #ffffff; font-size: 14px; font-weight: 500; text-transform: uppercase; padding: 8px 5px; border-radius: 4px; } 
.order-list .red .card-footer .button { background-color: #ff0000; } 
.order-list .red .card-header { background-color: #ff0000; } 
.order-list .orange .card-header { background-color: #fd8f00; } 

@media screen and (max-width:991px){
 .order-list .card-footer { margin-top: auto; } 
 }

.orders-status .modal-backdrop.show { opacity: 0.9; } 
.orders-status .modal-body h4 { color: #373757; font-size: 30px; font-weight: 700; margin-bottom: 30px; } 
.orders-status .modal-body .button { display: inline-block; background-color: #878787; color: #ffffff; font-size: 20px; font-weight: 500; display: inline-block; padding: 12px 28px; border-radius: 3px; margin-bottom: 21px; margin-right: 18px; margin-left: 18px; } 
.orders-status .modal-body .button.button-success { background-color: #28a745; } 
.orders-status .modal-dialog .close { font-size: 44px; color: #373757; opacity: 1; position: absolute; top: 8px; right: 17px; } 

@media (min-width: 576px){
 .orders-status .modal-dialog { max-width: 655px; margin: 30px auto; } 
 .orders-status .modal-body { padding: 55px 110px 81px 110px; } 
 }

 #content { position: relative; overflow: hidden; padding-top: 24px; } 
 #content .navicon { position: absolute; top: 4px; border: 0; background: transparent; color: #000; font-size: 22px; left: 15px; cursor: pointer; } 
 #sidebar { position: absolute; top: 120px; left: -250px; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; bottom: 0; padding: 10px 0; width: 250px; background: #4E834B; z-index: 100; overflow: auto; } 
 #sidebar li a { display: block; cursor: pointer; color: #ffff; padding: 10px; line-height: 30px; font-size: 20px; } 
 #sidebar li a i { margin-right: 5px; vertical-align: middle; width: 1.4em; display: inline-block; top: -3px; position: relative; } 
 #content .status-wrapper { position: relative; left:0; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .sidebar-open #content .status-wrapper { left:250px; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .sidebar-open #sidebar { left: 0px; } 

 @media screen and (max-width:1200px){
 .orders-status .container-fluid { padding-right: 40px; padding-left: 40px; } 
 #content .navicon { left: 5px; } 
 .order-list .card-footer a { font-size: 14px; } 
 }

 @media screen and (max-width:991px){
 .order-list .card-footer a { font-size: 16px; } 
 }

 @media (max-width: 576px){
 #container { overflow: hidden; } 
 #content { padding-top: 50px; } 
 #content .navicon { top: -32px; } 
 .sidebar-open #dashboard-navigation ul li:hover:after, .sidebar-open #dashboard-navigation ul li.active:after { display: none; } 
 .order-list + p { text-align: center; } 
 .orders-status .container-fluid { padding-right: 15px; padding-left: 15px; } 
 }

 .main .container-fluid {
    margin-top: 15px;
 }

 .order-visible-item {
     visibility: hidden;
 }

 .dataTables_wrapper .row {
    margin-top: 5px;
    margin-bottom: 2px;
 }

 .no-kitchen-orders {
   text-align: center;
   width: 95%;
   margin: 0 325px auto;
   font-size: 22px;
   font-family: sans-serif;
   background: #f3f3f3;
 }

 .invoice_order_item {
    cursor: pointer;
 }

 a.bump, a.o-st, a.rfp-st {
    cursor: pointer;
 }

 #status_modal_contents .col-sm-6, #pickup_change_contents .col-sm-6 {
   padding-top: 7.5px;
   padding-bottom: 7.5px;
 }